<div class="glossary cf">
  {{#each items}}
    <article class="topic cf">
      <h3><a href="{{url:item}}">{{title}}</a></h3>
      <p class="description">{{{description.text}}}</p>
    </article>
  {{/each}}
</div>
