<div class="product-collection panel-group">
  <div class="row">
    {{#foreach items columns="3" group="A-Z" groupby="title"}}
      {{#if @groupEnd}}
          </div>
        </div>
      {{/if}}
      {{#if @group}}
        <div class="group">
          <div class="col-md-12">
            <h3 class="bb group"><a name="{{@group}}">{{@group}}</a></h3>
          </div>
          <div class="items">
      {{/if}}
            <div class="item small-family w-text col-md-4">
              {{> smallfamily/teaser}}
            </div>
      {{#if @last}}
          </div>
        </div>
      {{/if}}

    {{/foreach}}
  </div>
</div>
