<form class="productsearch" action="">
  <div class="input-group input-group-sm">
    <input type="text" class="form-control" name="search" value="{{@req.query.search}}">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">{{i18n:t "Go!"}}</button>
    </span>
  </div>
</form>
