<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <base href="/" />

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@inspirationlabs">
    <meta name="twitter:title" content="inspirationlabs">
    <meta name="twitter:description" content="Molecuel Content Management System">
    <meta name="twitter:creator" content="@inspirationlabs">
    <meta name="twitter:image:src" content="">

    <meta property="og:title" content="inspirationlabs" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://inspirationlabs.com" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="{{theme:statics}}<%= file %>"></script><% }); %>


  </head>
  <body>
    <div class="" ui-view="main">{{{body}}}</div>
    <footer class="footer">
    </footer>
  </body>
</html>
